body {
    font-family:Arial, Helvetica, sans-serif;
    padding: 20px;
    background: #0c0b0c;
  }
  
  .header {
    padding: 30px;
    font-size: 40px;
    text-align: center;
    background: white;
    border-radius: 15px;
  }
  /* Columna izquierda*/
  

  /* Columna derecha */
  
  
  
  /* Espacio para escribir */
  .card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
    align-items: center;
    text-align: center;
  }

  .images{
    padding: 20px 20px;
    margin: 30px auto;
    box-shadow:0 2px 10px 0 rgba(0,0,0,0.6);
  }

  .row{
    align-items: center;
    margin: 20px auto;
    padding: 30px 30px;
  }
  
  
  /* Diseño responsivo: cuando la pantalla tenga menos de 800px de ancho, las siguientes lineas de codigo haran que las dos columnas se apilen una encima de la otra, en lugar de una al lado de la otra. */
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
      width: 100%;
      padding: 0;
    }
  }